@{
  ViewData["Title"] = "뚜벅뚜벅";
}
<div class="text-center">
  <h1 class="display-4">팀으로 함께 떠나는 가상여행</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">속초</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">내용</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>리스트1</li>
          <li>리스트2</li>
          <li>리스트3</li>
          <li>리스트4</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">버튼</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">부산</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">내용</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>리스트1</li>
          <li>리스트2</li>
          <li>리스트3</li>
          <li>리스트4</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">버튼</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">제주도</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">내용</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>리스트1</li>
          <li>리스트2</li>
          <li>리스트3</li>
          <li>리스트4</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary">버튼</button>
      </div>
    </div>
  </div>
</div>